<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/compose.css" />
    <link rel="stylesheet" href="/styles/edit.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/" class="logo">The Blog</a>
        <button class="hamburger btn">
          <div class="hamburger__line"></div>
          <div class="hamburger__line"></div>
          <div class="hamburger__line"></div>
        </button>
        <div class="nav__links">
          <button class="btn close">x</button>
          <a href="/" class="nav__links-link">Home</a>
          <a href="/blogs" class="nav__links-link">All Blogs</a>
          <a href="/compose" class="nav__links-link"> Compose </a>
        </div>
      </nav>
    </header>
  </body>
</html>
